body {
  background-image: url("http://orig04.deviantart.net/64e3/f/2013/183/5/8/seamless_fabric_pattern_dark_by_shandya-d6br6zb.png");
}
.jumbotron {
  background-image: url("https://wallpaperscraft.com/image/gold_rain_shine_holiday_background_flicker_glow_jewelry_stones_light_73371_3840x2400.jpg");
}
form {
  color: white;
}
#output {
  color: white;
}
#output {
  display: none;
}
.view {
  display: none;
}
